<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Society Management System</title>
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/style.css">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400;1,500;1,600;1,700;1,900&display=swap"
            rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
</head>
<body>

    <div class="header">   
    <div class="container2">
        <div class="navbar">
        <div class="logo">
            <img src="images/logo.png" width="60px">
        </div>
        
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/member-list">Member</a></li>
                <li><a href="">Maintainence</a></li>
                <li><a href="">Complaint</a></li>
                <li><a href=/visitor>Visitor</a></li>
                <li><a href="">Notice</a></li>
                <li><a href="/member-list">Committee</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
        
      <!--  <img src="images/cart.png" width="30px" height="30px">
        <img src="images/menu.png" class="menu-icon">-->


    </div>
    <div class="row">
        <div class="col-2">
            <h1><br>SOCIETY MANAGEMENT SYSTEM</h1>
            <p><br>“Home is the starting place of love, hope and dreams".“The magic thing about home is that it feels good to leave, and it feels even better to come back.” “Home is where love resides, memories are created, friends always belong, and laughter 
never ends.” “A house is made of bricks and beams.</p>
             <a href="" class="btn">SWEETHOME &#8594;</a>
        </div>
        <div class="col-2">
            <img src="images/img8.png">


        </div>
    </div>
</div>
</div>


<!------ NEW ROOM BOOKING ------>
    <div class="bookings">
        <div class="small-container">
            <h2>Room for Rent</h2>
        <div class="row">
            <div class="col-3">
                <img src="images/room1.jpg">
                <p>Per Month 5 thousands</p>
            </div> 
            <div class="col-3">
                <img src="images/room2.jpg">
                <p>Per Month 10 thousands</p>
            </div> 
            <div class="col-3">
                <img src="images/room3.jpg">
                <p>Per Month 15 thousands</p>
            </div>
        </div>

        </div>
        
    </div>

<!------ ROOM FOR SELL ------>
    <div class="small container">
        <h2 class="title">Room For Sell</h2>
        <div class="row">
            <div class="col-3">
                <img src="images/1bhk.jpg">
                <h4>ONE BHK FLAT</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>Rs25 lakhs</p>
                

            </div>
            <div class="col-3">
                <img src="images/2bhk.jpg">
                <h4>TWO BHK FLAT</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>Rs30 lakhs</p>
                

            </div>
            <div class="col-3">
                <img src="images/rk.jpg">
                <h4>ONE RK FLAT</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>Rs35 lakhs</p>
                

            </div>
        </div>
    </div>
        <h2 class="title">Events occurs in Society</h2>
        <div class="row">
            <div class="col-3">
                <img src="images/holie.jpg">
                <h4>Holi Celebration</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>

            </div>    
            <div class="col-3">
                <img src="images/diwali.jpg">
                <h4>Diwali Celebration</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="col-3">
                <img src="images/dandiya.jpg">
                <h4>Dandiya Celebration</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>

<!--&#45;&#45;&#45;&#45; OFFER -&#45;&#45;
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="images/discount.png" class="offer-img">
                </div>
                <div class="col-2">
                    <p>BUMMPER OFFER FOR FLAT BOOKING</p>
                    <h1>DISCOUNT</h1>
                    <small>discount for festival offer aapko 20% discount ka bummper offer milega</small>
                    <a href="" class="btn">BUY NOW &#8594;</a>
                </div>
            </div>
        </div>
    </div>-->


<!--------- testimonal ----------->

<div class="testimonal">
    <div class="small container">
        <h2 class="title">Committee Members of Society</h2>
       <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Secretary of Society</p>
                <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                </div>
                <img src="images/bhide.png">
                <h3>ATMARAM BHIDE</h3>

            </div>  
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Chairman of Society</p>
                <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                </div>
                <img src="images/papat.png">
                <h3>PATRAKAR POPATLAL PANDEY</h3>

            </div>
       <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Treasurer of Society</p>
                <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                </div>
                <img src="images/iyyer.png">
                <h3>KRISHNAN SUBRAMANYAM IYYER</h3>

        </div>
    </div>
</div>
<!----------- footer ---------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>DOwnload Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
        </div>
        <div class="footer-col-2">
        <img src="images/logo.png">
            <p>Our purpose is to sustainbility make the pleasure and benefit of accessibility to the time.</p>
        </div>
        <div class="footer-col-3">
            <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog post</li>
                    <li>Return policy</li>
                    <li>join</li>
                </ul>
        </div>
        <div class="footer-col-4">
            <h3>Follow us</h3>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Youtube</li>
            </ul>
        </div>
    </div>  
    </div>

    </div>

    </body>
</html>
