<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Society Management System</title>
    <link rel="stylesheet" href="css/loginandvisitor.css">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400;1,500;1,600;1,700;1,900&display=swap"
            rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
</head>
<body>

    <div class="header">   
    <div class="container2">
        <div class="navbar">
        <div class="logo">
           <a href="layout.html" ><img src="images/logo.png" width="70px"></a>
        </div>
        
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/member-list">Member</a></li>
                <li><a href="">Maintainence</a></li>
                <li><a href="">Complaint</a></li>
                <li><a href="/visitor">Visitor</a></li>
                <li><a href="/member-list">Committee</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
        
      <!--  <img src="images/cart.png" width="30px" height="30px">
        <img src="images/menu.png" class="menu-icon">-->


    </div>
    <!-------- visitor-page------>
    <div class="visitor-page">
        <div class="container1">
            <div class="row">
                <div class="col-2">
                    <img src="images/img8.png" width="100%">
                </div>
                <div class="col-2">
                    <div class="form-container1">
                        <div class="form-btn">
                            <span onclick="visitor()">Visitor</span>
                            <hr id="Indicator">
                        </div>

                        <form id="VisitorForm">
                            <input type="text" placeholder="Name">
                            <input type="contact" placeholder="Contact">
                            <input type="flat no" placeholder="Flat no">
                            <input type="reason" placeholder="Reason">
                            <input type="return time" placeholder="Return time">
                            <button type="submit" class="btn">Entry</button>
                
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


<!--
&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; footer &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>DOwnload Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
            <div class="app-logo">
                <img src="images/app.png">
                <img src="images/google.png">

            </div>
        </div>
        <div class="footer-col-2">
        <img src="images/logo.png">
            <p>Our purpose is to sustainbility make the pleasure and benefit of accessibility to the time.</p>
        </div>
        <div class="footer-col-3">
            <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog post</li>
                    <li>Return policy</li>
                    <li>join</li>
                </ul>
        </div>
        <div class="footer-col-4">
            <h3>Follow us</h3>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Youtube</li>
            </ul>
        </div>
    </div>  
    </div>

</div>-->
</body>
</html>
